.user__bar{
    display: flex;
    flex-direction: column;
    flex: 0.3;
    border-right: 1px solid lightgray;
    height: 100%;
}

.user__header{
    display: flex;
    padding: 43px 16px;
    background-color: #00BFA5;
    padding-top: 65px;
    padding-right: 20px;
    padding-left: 23px;
    padding-bottom: 20px;
}

.user__header > .MuiSvgIcon-root{
    margin-right: 2vw;
    font-size: 24px !important;
    color: white;
}

.user__header > p{
    color: white;
    font-size: 19px;
    font-weight: 500;
}

.user__info{
    background-color: #ecedec;
    height: 1000px;
}

.user__img > img{
    object-fit: contain;
    height: 200px;
    margin: 28px 100px 28px 100px;
    border-radius: 100px;
}

.user__name{
    background-color: white;
    padding: 14px 30px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

.user__name > p{
    font-size: 14px;
    color: #009688;
}

.user__name > h4{
    font-weight: 400;
    line-height: 20px;
    margin: 15px 0;
    font-size: 17px;
    color: #4a4a4a;
}

.user__name__info > p{
    font-size: 14px;
    color: rgba(0,0,0,0.45);
    margin: 15px 20px 28px 30px;
}